<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoAnimacao">
      <app-banner></app-banner>
    </div>
    <div class="col-sm-6 d-flex justify-content-start" *ngIf="!exibeCadastro" [@animacao-login]="estadoAnimacao" (@animacao-login.done)="mudaState()">
		  <app-login (exibePainel)="exibePainel($event)" (chameAtencao)="treme($event)"></app-login>
    </div>
    <div class="col-sm-6 d-flex justify-content-start" *ngIf="exibeCadastro" [@animacao-login]="estadoAnimacao" (@animacao-login.done)="mudaState()">
		  <app-cadastro (exibePainel)="exibePainel($event)"></app-cadastro>
    </div>
  </div>
</div>
