<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoAnimacao">
      <app-banner></app-banner>
    </div>
    <div class="col-sm-6 d-flex justify-content-start" *ngIf="!exibeCadastro" [@animacao-login]="estadoAnimacao">
		  <app-login (exibePainel)=exibePainel($event)></app-login>
    </div>
    <div class="col-sm-6 d-flex justify-content-start" *ngIf="exibeCadastro" [@animacao-login]="estadoAnimacao">
		  <app-cadastro (exibePainel)=exibePainel($event)></app-cadastro>
    </div>
  </div>
</div>
